.btn{
    background: black;
    margin: 15px 10px;
    width: 80px;
    height: 80px;
    font-style:inherit;
    font-weight: bolder;
    font-size: 50px;
    border-radius: 20%;
    box-shadow: 5px 5px 25px 5px black;
    /* opacity: .8; */
}
.btn:hover{
    
}
.btn div{
    color : white;
}
body{
    background-color: yellow;
}
.cont{
    text-align: center;
}
.anim{
    transform: scale(1.1);
    box-shadow: 4px 4px 15px 3px white;/*(shift to right, shift down, blur, intencity) */
    opacity: .8;
}
.mar{
    background: #000;
    height: auto;
    width: 800px;
    margin: 10px auto;
    display: block;
}
.top{
    color : yellowgreen;
    font-weight: bold;
    font-size: 30px;
}
.headline{
    background: red;
    color: white;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}